@CHARSET "UTF-8";
/*kSlideshow*/
.kSlideshowWrapper{
	position: relative;
}
.kSlideshowItemDiv{
	/*position: absolute;*/
	top: 0;
	left: 0;
}
.kSlideshowPrev{
	width: 24px;
	height: 24px;
	cursor: pointer;		
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 10;
}
.kSlideshowPlayToggle{
	width: 24px;
	height: 24px;
	cursor: pointer;		
	position: absolute;
	top: 15px;
	left: 44px;
	z-index: 500;
}
.kSlideshowNext{
	width: 24px;
	height: 24px;
	cursor: pointer;		
	position: absolute;
	top: 15px;
	z-index: 10;	
}
.kSlideshowTitle{
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: white;
	text-align: center;
}
.kSlideshowTitle a{
	color: gold;
}

/*kThumbnails*/	
.kThumbnailsInnerWrapper{
	position: relative;
	overflow: hidden;
	
}
.kThumbnailsWrapper{
	position: relative;
	/* margin: 0 24px; */
}
.kThumbnailsWrapper .kThumbnailsNextPage{
	width: 24px; height: 24px;
	position: absolute;
	top: 34%;
	right: -24px;
	cursor: pointer;
}
.kThumbnailsWrapper .kThumbnailsPrevPage{
	width: 24px; height: 24px;
	position: absolute;
	top: 34%;
	left: -24px;
	cursor: pointer;
}
.kThumbnailsWrapper .inactive{
	pointer-events: none;
	opacity: 0.5;
}
.kThumbnailsPage{
	position: absolute;
	top: 0;
	left: 0;
}
.kThumbnailsPage img{
	cursor:pointer;
}
#wrapper{
	width: 640px;
	height: 427px;
	padding-bottom: 30px;
	text-align: center;
	position: relative;
}
.kSlideshowWrapper{
	width: 70%;
	height: 520px;
}
.kSlideshowItemDiv{
	width: 100%;
	height: 100%;
}
.kSlideshowItemDiv img{
	z-index: 400;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.kThumbnailsInnerWrapper{
	width: 100%;
	height: 430px;
	margin-top: 40px;
}
.kThumbnailsWrapper{
	width: 25%;
	height: 520px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	background-color: antiquewhite;
}
.kThumbnailsWrapper .kThumbnailsPrevPage{
	top: 10px;
	left: 40px;
}
.kThumbnailsWrapper .kThumbnailsNextPage{
	bottom: 12px;
	top: auto;
	left: 40px;
}
.kThumbnailsPage{
	width: 100%;
	height: 434px;
	text-align: left;
}
.kThumbnailsPage img{
	margin: 1px 4px;
	width: calc(50% - 8px);
	height: 64px;
	object-fit: cover;
}
.kThumbnailsPage .selectedThumbnail{
	border: 1px solid #375c7f;
	background-color: #375c7f;
	opacity: 0.7;
}
.kGallery{
	position: relative;
	height: 520px;
}
.kSlideshowTitle, .kSlideshowPlayToggle, .kSlideshowPrev, .kSlideshowNext{
	display: none;
}
.kThumbnailsWrapper .kThumbnailsNextPage, .kThumbnailsWrapper .kThumbnailsPrevPage{
	width: calc(100% - 10px);
	height: 25px;
	left: 0px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: none;
	background-color:#144471;
	border-radius: 5px;
}
.kThumbnailsWrapper .kThumbnailsNextPage::after {
    content: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" fill="white" data-prefix="fas" data-icon="chevron-down" class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
    position: absolute;
	width: 100%;
	height: 20px;
	width: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.kThumbnailsWrapper .kThumbnailsPrevPage::after {
    content: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" class="svg-inline--fa fa-chevron-up fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg>');
    position: absolute;
    width: 100%;
    height: 20px;
    width: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.car-detail-slider{
	position: relative;
}
.car-detail-slider .text-bottom-slider{
	position: absolute;
	height: 520px;
	top: 0px;
	width: 70%;
}
.car-detail-slider .overlay{
	background-color:black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
.car-detail-slider .text-overlay{
	z-index: 2;
	position: relative;
	text-align: center;
	top: 50%;
	font-size: 30px;
	transform: translateY(-50%);
}

/* @media screen and (max-width: 820px) and (min-width: 600px) {
	.kThumbnailsPage img{
		width: calc(50% - 4px);
	}
} */
@media screen and (max-width: 960px) {
	.kThumbnailsPage{
		height: 352px;
	}
	.kThumbnailsPage img{
		height: 52px;
	}
	.kThumbnailsInnerWrapper{
		height: 352px;
	}
	.kSlideshowWrapper{
		width: 100%;
		height: 435px;
	}
	.car-detail-slider .text-bottom-slider{
		height: 435px;
	}
	.kThumbnailsWrapper{
		width: 100%;
		height: 440px;
		position: absolute;
		top: 455px;
		right: 0px;
		padding: 5px;
		margin: 0px;
	}
	.kThumbnailsPage img{
		width: calc(33.3333333333% - 8px);
		height: 80px;
	}
	.kGallery{
		height: 885px;
	}
	.car-detail-slider .text-bottom-slider{
		position: absolute;
		bottom: 355px;
		width: 100%;
	}
}

@media screen and (max-width: 960px) and (min-width: 600px) {
	.kThumbnailsPage img{
		width: calc(25% - 8px);
		height: 80px;
	}
	.kThumbnailsWrapper{
		height: 350px;
	}
	.kThumbnailsInnerWrapper, .kThumbnailsPage{
		height: 266px;
	}
	.kGallery{
		height: 795px;
	}
}
.kSlideshowPrev, .kSlideshowNext{
	display: unset;
	margin-top: auto;
    margin-bottom: auto;
    top: 0;
	bottom: 0;
	width: 30px;
	height: 45px;
	background-color: #00395b;
}
.kSlideshowPrev:hover, .kSlideshowNext:hover{
	background-color: #3a627b;
}
.kSlideshowPrev{
	background-image: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>');
    border-top-right-radius: 60px;
    left: 0px;
    border-bottom-right-radius: 60px;
    background-size: 40%;
    background-position: 3px center;
}
.kSlideshowNext{
	background-image: url('data:image/svg+xml,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>');
	right: 0px;
	border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background-size: 40%;
    background-position: 15px center;
}