/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.vscode
/.vagrant
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml

/nginx/default.conf
/nginx/htpasswd
/nginx/prod-default.conf